

<div class="list-group">
  <%@products.each do |product| %>
    <a  class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%=product.name %></h5>
        <small>Quantity : <%=product.quantity %></small>
      </div>
      <p class="mb-1"><%=product.description %></p>
      <small>Price : <%=product.price %></small>
    </a>
  <% end %>
</div>